In [18]:
import pandas as pd
kg_data = pd.read_csv("kg_final.txt", sep=' ', names=['h', 'r', 't'], engine='python')
kg_data = kg_data.drop_duplicates()

In [19]:
kg_data

           h   r      t
0        578   0    579
1        579   1    580
2        579   2    580
3        579   3    580
4        579   3    581
...      ...  ..    ...
2549900  102  30  18086
2549901  102  19  18128
2549902  102  66  18131
2549903  102  23  18086
2549904  102  15  18086

[134163 rows x 3 columns]

In [20]:
rel_list = []
for index, row in kg_data.iterrows():
    if row[1] not in rel_list:
        rel_list.append(row[1])

In [21]:
print(len(rel_list))

224

In [22]:
entity_list = []
for index, row in kg_data.iterrows():
    if row[0] not in entity_list:
        entity_list.append(row[0])
    if row[2] not in entity_list:
        entity_list.append(row[2])

In [23]:
print(len(entity_list))

18002

In [24]:
len(kg_data)

134163

In [25]:
kg_data

           h   r      t
0        578   0    579
1        579   1    580
2        579   2    580
3        579   3    580
4        579   3    581
...      ...  ..    ...
2549900  102  30  18086
2549901  102  19  18128
2549902  102  66  18131
2549903  102  23  18086
2549904  102  15  18086

[134163 rows x 3 columns]

In [30]:
import numpy as np
import pandas as pd

nums = []

for index, row in kg_data.iterrows():
    nums.append([row[2], row[1], row[0]])
colu = ['h', 'r', 't']
new_df = pd.DataFrame(data=nums, columns=colu)

In [31]:
frame = [kg_data, new_df]
cc_df = pd.concat(frame)

In [32]:
cc_df

            h   r    t
0         578   0  579
1         579   1  580
2         579   2  580
3         579   3  580
4         579   3  581
...       ...  ..  ...
134158  18086  30  102
134159  18128  19  102
134160  18131  66  102
134161  18086  23  102
134162  18086  15  102

[268326 rows x 3 columns]

In [33]:
dic = {1: 'aaa', 2: 'bbb', 3: 'ccc'}

In [37]:
type(dic.keys())

dict_keys

In [36]:
for i in range(len(dic.keys())):
    dic.keys()[i] += 4

TypeError: 'dict_keys' object is not subscriptable

In [35]:
dic

{1: 'aaa', 2: 'bbb', 3: 'ccc'}